{% if site.contacts %}
<div class="rounded_panel txt_lightgrey">
    <div class="top-rounded-panel grey-bg">
        <h5>{{ site.programmer_skills_title[page.lang] }}</h5>
        <hr/>
    </div>
    <div class="content-rounded-panel">
         <div>
            <p><b>Ruby</b><img src="../img/scale-Intermediate.png" alt="Ruby" class="u-max-full-width ruby scale"/>Intermediate</p>
            <p><b>RoR </b><img src="../img/scale-Intermediate.png" alt="RoR" class="u-max-full-width ror scale"/>Intermediate</p>
            <p><b>CSS </b><img src="../img/scale-Intermediate.png" alt="CSS" class="u-max-full-width css scale"/> Intermediate</p>
            <p><b>JS </b><img src="../img/scale-Intermediate.png" alt="JS" class="u-max-full-width js scale"/> Intermediate</p>
            <p><b>React </b><img src="../img/scale-Elementary.png" alt="JS" class="u-max-full-width react scale"/> Elementary</p>
            <p><b>HTML</b><img src="../img/scale-Intermediate.png" alt="HTML" class="u-max-full-width html scale"/> Intermediate</p>
            <p><b>SQL </b><img src="../img/scale-Intermediate.png" alt="SQL" class="u-max-full-width sql scale"/> Intermediate</p>
            <p><b>Linux</b><img src="../img/scale-Intermediate.png" alt="Linux" class="u-max-full-width linux scale"/> Intermediate</p>
            <p><b>Docker</b><img src="../img/scale-Intermediate.png" alt="Docker" class="u-max-full-width linux scale"/> Intermediate</p>
            <p><b>Git</b><img src="../img/scale-Intermediate.png" alt="Git" class="u-max-full-width git scale"/> Intermediate</p>
            <p><b>Trello</b><img src="../img/scale-Intermediate.png" alt="Trello" class="u-max-full-width trello scale"/> Intermediate</p>
         </div>
    </div>
    <div class="top-rounded-panel grey-bg">
        <h5>{{ site.ror_skills_title[page.lang] }}</h5>
        <hr/>
    </div>
    <div class="content-rounded-panel">
        <div>
            <p><b>REST</b><img src="../img/scale-Advanced.png" alt="REST" class="u-max-full-width rest scale"/> Advanced</p>
            <p><b>OOP</b><img src="../img/scale-Advanced.png" alt="OOP" class="u-max-full-width oop scale"/> Advanced</p>
            <p><b>SLIM </b><img src="../img/scale-Advanced.png" alt="HAML,SLIM" class="u-max-full-width haml scale"/> Advanced</p>
            <p><b>Rspec </b><img src="../img/scale-Intermediate.png" alt="Rspec" class="u-max-full-width rspec scale"/> Intermediate</p>
            <p><b>Rubocop</b><img src="../img/scale-Intermediate.png" alt="Rubocop" class="u-max-full-width rubocop scale"/> Intermediate</p>
            <p><b>Devise</b><img src="../img/scale-Intermediate.png" alt="Devise" class="u-max-full-width device scale"/> Intermediate</p>
            <p><b>Sidekiq</b><img src="../img/scale-Intermediate.png" alt="Sidekiq" class="u-max-full-width device scale"/> Intermediate</p>
            <p><b>Capistrano</b><img src="../img/scale-Intermediate.png" alt="Capistrano" class="u-max-full-width capistrano scale"/> Intermediate</p>
            <p><b>Postgresql </b><img src="../img/scale-Intermediate.png" alt="Postgresql" class="u-max-full-width postgresql scale"/> Intermediate</p>
            <p><b>SimpleForm </b><img src="../img/scale-Intermediate.png" alt="Simple Form" class="u-max-full-width simpleform scale"/>Intermediate</p>
            <p><b>ActiveRecord</b><img src="../img/scale-Intermediate.png" alt="Active Record" class="u-max-full-width activerecord scale"/> Intermediate</p>
        </div>
    </div>
</div>
{% endif %}
